body {
  background: url('/shared/img/header.repeat.jpg') repeat-x top;
  margin: 0;
  padding: 0;
  font-family: Tahoma, serifSansSerifMonospace,sans-serif;
  font-size:12px;
  color: #666;
}
img {
  border: none;
}
#header {
  border-bottom: 5px solid #8C7190;
  background: url('/shared/img/header.pidgin-head.jpg') no-repeat;
  width: 800px;
  margin: auto;
}
#header img {
  margin-left: 125px;
}
#header ul {
  display: block;
  margin: -1px 0 0 200px;
  padding: 0;
  height: 40px;
  border-left: 1px solid #3F2844;
}
#header ul li:first-child a {
  border-left: 1px solid #BFABC6;
}
#header ul li {
  display: block;
  float: left;
  height: 40px;
  border-right: 1px solid #BFABC6;
  text-transform: uppercase;
}
#header ul li a:link, #header ul li a:visited {
  display: block;
  height: 14px;
  color: #FFF;
  padding: 13px 15px;
  text-decoration: none;
  border-right: 1px solid #3F2844;
}

#header ul li a:active, #header ul li a:hover, #header ul li.active a {
  background-color: #8E6E95
}

#left {
  clear: both;
  float: left;
  width: 395px;
  background: url('/shared/img/frame.home.top.gif') no-repeat top;
  padding-top: 9px;
  position: relative;
}

#version {
  text-align: right;
  padding: 20px 73px 28px 36px;
  border: 1px #DADADA;
  border-style: none solid;
  background-color: #FFF;
  height: 218px;
  position: relative;
}

#version .number {
  z-index: 10;
  top: -29px;
  position: relative;
}

#version #logo {
  float: left;
  display: block;
  background: url('/shared/img/frame.home.bottom.gif') no-repeat 0px 125px;
  position: absolute;
  top: 139px;
  left: -1px;
  padding: 0 277px 28px 15px;
  overflow: visible;
}

#download {
  position: absolute;
  top: 155px;
  left: 101px;
  width: 213px;
  padding: 15px 20px 20px 35px;
  background: url('/shared/img/balloon.png') no-repeat top left;

}

#download img {
  float: left;
  margin-right: 6px;
}

#content {
  padding: 28px 25px;
  float: right;
  border: 1px solid #DADADA;
  width: 343px;
  background-color: #FFF;
  margin-right: 5px;
}

#content p.more {
  clear: both;
  text-align: right;
  padding-top: 38px;
}

#main {
  padding: 25px 0;
  margin: 0 auto;
  width: 800px;
}

ul.condensed {
  margin: 26px 0 0 2px;
}

ul.condensed li {
  float: left;
  width: 30%;
}

h1 {
  color: #E66926;
  margin-top: 0;
  padding-top: 0;
  font-weight: normal;
}

#footer {
  height: 158px;
  clear: both;
  background: url('/shared/img/footer.repeat.jpg') repeat-x top;
}