body {
  background: url('/shared/img/header.repeat.jpg') repeat-x top;
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
  font-size:12px;
  color: #666;
}
img {
  border: none;
}
a:link, a:visited {
  color: #E66926;
  text-decoration: underline;
}
a:hover, a:active {
  color: #E66926;
  text-decoration: none;
}
#header {
  background: url('/shared/img/header.pidgin-head.jpg') no-repeat;
  width: 800px;
  margin: 0 auto 5px;
}
#header img {
  margin-left: 125px;
  vertical-align: bottom;
}
#header ul {
  display: block;
  margin: 2px 0 0 200px;
  padding: 0;
  height: 40px;
  border-left: 1px solid #3F2844;
}
#header ul li:first-child a {
  border-left: 1px solid #BFABC6;
}
#header ul li {
  display: block;
  margin: 0;
  padding: 0;
  float: left;
  height: 40px;
  border-right: 1px solid #BFABC6;
  text-transform: uppercase;
}
#header ul li a:link, #header ul li a:visited, #header ul li a:active {
  display: block;
  height: 27px;
  color: #FFF;
  padding: 13px 15px 0;
  text-decoration: none;
  border-right: 1px solid #3F2844;
}

#header ul li a:hover, #header ul li.active a {
  background-color: #8E6E95
}

#content {
  padding: 23px 0;
  margin: 0 auto;
  width: 800px;
}

#content:after {
  content: "\A0";
  clear: both;
  display: block;
  height: 0px;
  overflow: none;
}

.box_home {
  width: 395px;
  padding: 0;
  margin: 0 5px 0 0;
  float: left;
  position: relative;
}

.box_full {
  position: relative;
  z-index: 5;
  width: 790px;
  padding: 0;
  margin: 0 5px 0 5px;
  margin-bottom: -137px;
}

.box_full p {
  line-height: 1.5em;
}

.box_full img.inline {
  float: right;
  margin: 5px 2px 0 24px;
}

.box_home:before {
  content: url('/shared/img/frame.home.top.gif');
  display: block;
  height: 9px;
  overflow: hidden;
}

.box_home:after {
  content: url('/shared/img/frame.home.bottom.gif');
  display: block;
  height: 17px;
  overflow: hidden;
}

.box_full:before {
  content: url('/shared/img/frame.full.top.png');
  display: block;
  height: 9px;
  overflow: hidden;
}

.box_full:after {
  content: url('/shared/img/frame.full.bottom.png');
  display: block;
  height: 17px;
  overflow: hidden;
}

#left, #main {
  background-color: #FFF;
  border: 1px #DADADA;
  border-style: none solid;
  padding-top: 2px;
}

#version {
  text-align: right;
  padding: 20px 73px 28px 36px;
  height: 216px;
  position: relative;
}

#version .number {
  z-index: 10;
  top: -29px;
  position: relative;
}

#download #logo {
  display: block;
  position: absolute;
  top: -7px;
  left: -86px;
}

#download {
  position: absolute;
  top: 157px;
  left: 101px;
  width: 213px;
  padding: 15px 20px 20px 35px;
  background: url('/shared/img/balloon.png') no-repeat top left;
  font-size: 1.2em;
  font-weight: bold;
}

#download .number {
  font-size: 0.85em;
  font-weight: normal;
}

#download a img {
  position: relative;
  float: left;
  margin-right: 6px;
}

#main {
  padding: 22px 25px 17px;
}

#main p.more {
  clear: both;
  text-align: right;
  padding-top: 38px;
}

ul.condensed {
  margin: 26px 0 0 2px;
}

ul.condensed li {
  float: left;
  width: 30%;
}

h1 {
  color: #E66926;
  margin-top: 0;
  padding-top: 0;
  font-weight: normal;
}

#footer {
  height: 40px;
  padding-top: 118px;
  margin-top: 36px;
  text-align: center;
  background: url('/shared/img/footer.repeat.jpg') repeat-x top;
}
