body {
  background: url('/shared/img/header.repeat.jpg') #FFF repeat-x top;
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
  font-size:12px;
  color: #666;
}

img {
  border: none;
}

a:link, a:visited {
  color: #E66926;
  text-decoration: underline;
}

a:hover, a:active {
  color: #E66926;
  text-decoration: none;
}

#header {
  background: url('/shared/img/header.pidgin-head.jpg') no-repeat;
  width: 800px;
  margin: 0 auto 5px;
}

#header img {
  padding-left: 125px;
  vertical-align: bottom;
}

#header ul {
  display: block;
  margin: 2px 0 0 200px;
  padding: 0;
  height: 40px;
  border-left: 1px solid #3F2844;
}

#header ul li:first-child a {
  border-left: 1px solid #BFABC6;
}

#header ul li {
  display: block;
  margin: 0;
  padding: 0;
  float: left;
  height: 40px;
  border-right: 1px solid #BFABC6;
  text-transform: uppercase;
}

#header ul li a:link, #header ul li a:visited, #header ul li a:active {
  display: block;
  height: 27px;
  color: #FFF;
  padding: 13px 15px 0;
  text-decoration: none;
  border-right: 1px solid #3F2844;
  white-space: nowrap;
  float: left;
}

#header ul li a:hover, #header ul li.active a {
  background-color: #8E6E95
}

#content {
  padding: 23px 0;
  margin: 0 auto;
  width: 800px;
}

#content:after {
  content: "\A0";
  clear: both;
  display: block;
  height: 0px;
  overflow: hidden;
}

#left, #main, .box_nav ul, #newsbrief, #blogbrief {
  background-color: #FFF;
  border: 1px #DADADA;
  border-style: none solid;
  padding-top: 2px;
}

.box_home {
  width: 395px;
  padding: 0;
  margin: 0 5px 0 0;
  float: left;
  position: relative;
}

.box_home#right {
  float: right;
}

.box_full {
  position: relative;
  z-index: 5;
  width: 790px;
  padding: 0;
  clear: both;
  margin: 0 5px -137px 5px;
}

.box_full p, .box_right p {
  line-height: 1.5em;
}

.box_full img.inline {
  float: right;
  margin: 5px 2px 0 24px;
}

.box_nav {
  width: 211px;
  padding: 0;
  margin: 0 5px 0 0;
  float: left;
}

.box_nav ul {
  display: block;
  padding: 17px 0 25px;
  margin: 0;
}

.box_nav ul li {
  font-size: 1.1em;
  display: inline;
  margin: 0;
  padding: 0;
}

.box_nav ul li:first-child a {
  border-top: 1px solid #EFEFEF;
}

.box_nav ul li:first-child a:link, .box_nav ul li:first-child a:visited, .box_nav ul li:first-child a:active {
  padding-top: 2px;
}

.box_nav ul li a:link, .box_nav ul li a:visited, .box_nav ul li a:active {
  display: block;
  padding: 3px 15px 2px;
  text-decoration: none;
  border-bottom: 1px solid #EFEFEF;
}

.box_nav ul li a:hover, .box_nav ul li.active a {
  background: url('/shared/img/frame.nav.hover.gif') repeat-x top left;
}

.box_right {
  width: 580px;
  padding: 0;
  margin: 0 4px 0 0;
  float: left;
  margin-bottom: -137px;
}

.box_home p {
  clear: both;
}

.box_download {
  padding: 0;
  margin: 0 0 20px;
}

.box_download p {
  border: 1px #F3D6C6;
  border-style: none solid;
  margin: 0;
  width: 487px;
  background-color: #FEF2E2;
  line-height: 1.2em;
  padding: 12px 18px 0 18px;
}

.box_download p:first-child {
  padding: 18px 18px 0 18px;
  height: 50px;
}

.box_home:before, .box_full:before, .box_nav:before, .box_right:before {
  display: block;
  height: 9px;
  overflow: hidden;
}

.box_home:after, .box_full:after, .box_nav:after, .box_right:after {
  display: block;
  height: 17px;
  overflow: hidden;
}

.box_home:before {
  content: url('/shared/img/frame.home.top.gif');
}

.box_home:after {
  content: url('/shared/img/frame.home.bottom.png');
}

.box_full:before {
  content: url('/shared/img/frame.full.top.png');
}

.box_full:after {
  content: url('/shared/img/frame.full.bottom.png');
}

.box_nav:before {
  content: url('/shared/img/frame.nav.top.gif');
}

.box_nav:after {
  content: url('/shared/img/frame.nav.bottom.png');
}

.box_right:before {
  content: url('/shared/img/frame.right.top.gif');
}

.box_right:after {
  content: url('/shared/img/frame.right.bottom.png');
}


.box_download:before {
  content: url('/shared/img/frame.download.top.gif');
  display: block;
  height: 7px;
  overflow: hidden;
}

.box_download:after {
  content: url('/shared/img/frame.download.bottom.gif');
  display: block;
  height: 27px;
  overflow: hidden;
}

#version {
  text-align: left;
  padding: 20px 0 28px 0;
  height: 216px;
  left: 36px;
  position: relative;
}

#version .number {
  display: block;
  z-index: 10;
  top: -29px;
  left: 255px;
  position: relative;
}

#download #logo {
  display: block;
  position: absolute;
  top: -6px;
  left: -86px;
}

#download:before {
  content: url('/shared/img/balloon.top.gif');
  display: block;
  height: 17px;
  overflow: hidden;
}

#download:after {
  content: url('/shared/img/balloon.bottom.png');
  display: block;
  height: 10px;
  overflow: hidden;
  clear: both;
}

.box_home #download {
  position: absolute;
  left: 101px;
  top: 157px;
}

#download {
  background: url('/shared/img/balloon.middle.gif') no-repeat left 17px;
  width: 268px;
}

#download, .box_download p:first-child {
  font-size: 1.7em;
  font-weight: bold;
}

#download .number, .box_download .number {
  font-size: 0.60em;
  font-weight: normal;
}

#download a img, .box_download a img {
  float: left;
  margin-right: 6px;
}

#download a img {
  padding-bottom: 5px;
}

#download a {
  display: block;
  padding-left: 35px;
  padding-top: 3px;
  text-decoration: none;
}

#download a:hover {
  text-decoration: underline;
}

#main, #blogbrief, #newsbrief {
  padding: 22px 13px 13px;
}

#main p.more {
  clear: both;
  text-align: right;
}

ul.condensed {
  margin: 26px 0 0 2px;
  width: 20%;
  float: left;
  padding-bottom: 38px;
}

h1 {
  color: #E66926;
  margin-top: 0;
  padding-top: 0;
  font-weight: normal;
  font-size: 2em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.05em;
  font-weight: normal;
  font-style: italic;
}

#footer {
  height: 40px;
  padding-top: 118px;
  margin-top: 36px;
  text-align: center;
  background: url('/shared/img/footer.repeat.jpg') repeat-x top;
}

#lowblurb {
  font-family: "Trebuchet MS";
  font-size: 1.6em;
  width: 350px;
  clear: left;
  margin: 0 25px 18px;
  padding-top: 52px;
  color: #444;
}

#newsbrief {
  width: 343px;
  float: left;
  margin-right: 25px; 
}

#blogbrief {
  border-left: none;
}

#left .linkbar {
  position: relative;
  top: -6px;
  text-align: right;
  margin: -6px 26px 0 0;
}

#main img {
  max-width: 530px;
}

table {
  border: none;
  padding: 0;
  margin: 0;
}

th {
  text-align: left;
  white-space: nowrap;
  border-bottom: 1px solid #DADADA;
  margin: 0;
  background-color: #F6F6F6;
  padding: 4px;
}

td {
  padding: 4px;
  border-bottom: 1px solid #EEE;
  margin: 0;
}

td.date {
  white-space: nowrap;
  text-align: right;
}
